<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bulbasaur0.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{31,37}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{31,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur1.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{31,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{31,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur10.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{31,37}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{31,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{35,37}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{35,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{35,37}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{35,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{35,37}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{35,37}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{35,37}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{35,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{35,37}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{35,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{35,37}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{35,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{35,37}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{35,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{35,37}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur2.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{31,37}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{31,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{35,37}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{35,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{35,37}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{35,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{35,37}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{35,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{35,37}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{35,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{35,37}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur25.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{31,37}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{31,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur26.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{31,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{31,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur27.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{31,37}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{31,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur28.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{31,37}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{31,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur3.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{31,37}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{31,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur4.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{31,37}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{31,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur5.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{31,37}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{31,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur6.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{31,37}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{31,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur7.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{31,37}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur8.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{31,37}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{31,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>bulbasaur9.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{31,37}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{31,37}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bulbasaur-hd.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e21fd87f3513e267b923f10c5e12e737$</string>
            <key>textureFileName</key>
            <string>bulbasaur-hd.png</string>
        </dict>
    </dict>
</plist>
