<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>charmander0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{37,41}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>charmander1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{31,39}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{31,39}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>charmander10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{31,39}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{31,39}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>charmander11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{31,39}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{31,39}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>charmander12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{31,39}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{31,39}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>charmander13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{31,39}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{31,39}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>charmander14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{31,39}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{31,39}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>charmander15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{31,39}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{31,39}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>charmander16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{37,41}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>charmander2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{31,39}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{31,39}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>charmander3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{31,39}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{31,39}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>charmander4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{31,39}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{31,39}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>charmander5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{31,39}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{31,39}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>charmander6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{31,39}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{31,39}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>charmander7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{31,39}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{31,39}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>charmander8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{31,39}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{31,39}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>charmander9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{31,39}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{31,39}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>charmander-hd.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f22a4b73478133b1993a8ae43a5dd48$</string>
            <key>textureFileName</key>
            <string>charmander-hd.png</string>
        </dict>
    </dict>
</plist>
